/****** Object:  Table [dbo].[CALCULOS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALCULOS](
	[ID] [int] NOT NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[DESCRICAO] [varchar](75) NOT NULL,
	[OBSERVACOES] [varchar](max) NULL,
 CONSTRAINT [PK_CALCULOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTOS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[ID] [int] NOT NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[DESCRICAO] [varchar](75) NOT NULL,
	[TIPO] [char](1) NOT NULL,
	[OBSERVACOES] [varchar](max) NULL,
 CONSTRAINT [PK_EVENTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS](
	[GUID] [uniqueidentifier] NOT NULL,
	[MATRICULA] [varchar](20) NOT NULL,
	[DATA_ADMISSAO] [date] NOT NULL,
	[DATA_DEMISSAO] [date] NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[DESCRICAO_CARGO] [varchar](75) NOT NULL,
	[DESCRICAO_SETOR] [varchar](75) NOT NULL,
	[FAIXA_IR] [smallint] NOT NULL,
	[FAIXA_SF] [smallint] NOT NULL,
	[GUIDCOLABORADOR] [uniqueidentifier] NOT NULL,
	[GUIDEMPREGADOR] [uniqueidentifier] NOT NULL,
	[FORMA_PAGAMENTO] [char](1) NOT NULL,
	[BANCO] [varchar](6) NOT NULL,
	[AGENCIA] [varchar](9) NOT NULL,
	[CONTA] [varchar](15) NOT NULL,
	[DV_CONTA] [char](1) NOT NULL,
	[CARGA_HORARIA] [decimal](6, 2) NOT NULL,
	[SALARIO_NOMINAL] [varchar](128) NOT NULL,
 CONSTRAINT [PK_MATRICULAS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDMATRICULA] [uniqueidentifier] NOT NULL,
	[COMPETENCIA] [char](8) NOT NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[DATA_CONFIRMACAO] [datetime2](7) NULL,
	[IP_CONFIRMACAO] [varbinary](16) NULL,
	[CONTEUDO_ARQUIVO] [varchar](max) NULL,
 CONSTRAINT [PK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDMATRICULA_DEMONSTRATIVO_PAGAMENTO] [uniqueidentifier] NOT NULL,
	[IDEVENTO] [int] NOT NULL,
	[REFERENCIA] [decimal](25, 10) NULL,
	[VALOR] [varchar](128) NOT NULL,
 CONSTRAINT [PK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDMATRICULA_DEMONSTRATIVO_PAGAMENTO] [uniqueidentifier] NOT NULL,
	[IDTOTALIZADOR] [int] NOT NULL,
	[VALOR] [varchar](128) NOT NULL,
 CONSTRAINT [PK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS_ESPELHOS_PONTO]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO](
	[GUID] [uniqueidentifier] NOT NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[COMPETENCIA] [char](6) NULL,
	[GUIDMATRICULA] [uniqueidentifier] NOT NULL,
	[DATA_CONFIRMACAO] [datetime2](7) NULL,
	[IP_CONFIRMACAO] [varbinary](16) NULL,
	[CONTEUDO_ARQUIVO] [varchar](max) NULL,
 CONSTRAINT [PK_MATRICULAS_ESPELHO_PONTO] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS_ESPELHOS_PONTO_CALCULOS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_CALCULOS](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDMATRICULA_ESPELHO_PONTO] [uniqueidentifier] NOT NULL,
	[IDCALCULO] [int] NOT NULL,
	[VALOR] [decimal](25, 10) NOT NULL,
 CONSTRAINT [PK_MATRICULAS_ESPELHOS_PONTO_CALCULOS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULAS_ESPELHOS_PONTO_MARCACOES]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_MARCACOES](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDMATRICULA_ESPELHO_PONTO] [uniqueidentifier] NOT NULL,
	[DATA] [date] NOT NULL,
	[MARCACAO] [varchar](max) NOT NULL,
	[HORAS_EXTRAS_050] [time](7) NULL,
	[HORAS_EXTRAS_070] [time](7) NULL,
	[HORAS_EXTRAS_100] [time](7) NULL,
	[HORAS_CREDITO_BH] [time](7) NULL,
	[HORAS_DEBITO_BH] [time](7) NULL,
	[HORAS_FALTAS] [time](7) NULL,
	[HORAS_TRABALHADAS] [time](7) NULL,
 CONSTRAINT [PK_MATRICULAS_ESPELHOS_PONTO_MARCACOES] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOAS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOAS](
	[GUID] [uniqueidentifier] NOT NULL,
	[BAIRRO] [varchar](40) NULL,
	[CEP] [char](8) NULL,
	[CIDADE] [varchar](60) NOT NULL,
	[COMPLEMENTO] [varchar](30) NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[EMAIL] [varchar](75) NULL,
	[ENDERECO] [varchar](100) NOT NULL,
	[NUMERO] [varchar](10) NULL,
	[TELEFONE] [varchar](30) NULL,
	[UF] [char](2) NOT NULL,
 CONSTRAINT [PK_PESSOAS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOAS_FISICAS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOAS_FISICAS](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDPESSOA] [uniqueidentifier] NOT NULL,
	[CPF] [char](11) NOT NULL,
	[FOTO] [varbinary](max) NULL,
	[RG] [varchar](20) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[NOME] [varchar](100) NOT NULL,
	[NUMERO_CTPS] [varchar](9) NOT NULL,
	[SERIE_CTPS] [varchar](5) NOT NULL,
	[UF_CTPS] [varchar](2) NOT NULL,
 CONSTRAINT [PK_PESSOAS_FISICAS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOAS_JURIDICAS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOAS_JURIDICAS](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDPESSOA] [uniqueidentifier] NOT NULL,
	[CNPJ] [char](14) NOT NULL,
	[DATA_FUNDACAO] [date] NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[LOGOTIPO] [varbinary](max) NULL,
	[RAZAO_SOCIAL] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PESSOAS_JURIDICAS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOTALIZADORES]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTALIZADORES](
	[ID] [int] NOT NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[DESCRICAO] [varchar](75) NOT NULL,
	[OBSERVACOES] [varchar](max) NULL,
 CONSTRAINT [PK_TOTALIZADORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 20/12/2023 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[GUID] [uniqueidentifier] NOT NULL,
	[GUIDCOLABORADOR] [uniqueidentifier] NULL,
	[DATA_INCLUSAO] [datetime2](7) NOT NULL,
	[DATA_ULTIMA_ALTERACAO] [datetime2](7) NULL,
	[EMAIL] [varchar](75) NULL,
	[USERNAME] [varchar](75) NOT NULL,
	[PASSWORD] [varchar](32) NOT NULL,
	[IDASPNETUSER] [nvarchar](450) NULL,
	[DATA_PRIMEIRO_ACESSO] [datetime2](7) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MATRICULAS_GUIDCOLABORADOR]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_MATRICULAS_GUIDCOLABORADOR] ON [dbo].[MATRICULAS]
(
	[GUIDCOLABORADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MATRICULAS_GUIDEMPREGADOR]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_MATRICULAS_GUIDEMPREGADOR] ON [dbo].[MATRICULAS]
(
	[GUIDEMPREGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MATRICULAS_MATRICULA]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_MATRICULAS_MATRICULA] ON [dbo].[MATRICULAS]
(
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MATRICULA]    Script Date: 20/12/2023 17:31:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_MATRICULA] ON [dbo].[MATRICULAS]
(
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_COMPETENCIA]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_COMPETENCIA] ON [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO]
(
	[COMPETENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MATRICULAS_ESPELHOS_PONTO_COMPETENCIA]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_MATRICULAS_ESPELHOS_PONTO_COMPETENCIA] ON [dbo].[MATRICULAS_ESPELHOS_PONTO]
(
	[COMPETENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CPF]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_CPF] ON [dbo].[PESSOAS_FISICAS]
(
	[CPF] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CPF]    Script Date: 20/12/2023 17:31:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CPF] ON [dbo].[PESSOAS_FISICAS]
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CNPJ]    Script Date: 20/12/2023 17:31:52 ******/
CREATE NONCLUSTERED INDEX [IX_CNPJ] ON [dbo].[PESSOAS_JURIDICAS]
(
	[CNPJ] ASC
)WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CNPJ]    Script Date: 20/12/2023 17:31:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_CNPJ] ON [dbo].[PESSOAS_JURIDICAS]
(
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CALCULOS] ADD  CONSTRAINT [DF_CALCULOS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[EVENTOS] ADD  CONSTRAINT [DF_EVENTOS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[EVENTOS] ADD  CONSTRAINT [DF_EVENTOS_TIPO]  DEFAULT ('I') FOR [TIPO]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  DEFAULT ((0)) FOR [FAIXA_IR]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  DEFAULT ((0)) FOR [FAIXA_SF]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_FORMA_PAGAMENTO]  DEFAULT ('O') FOR [FORMA_PAGAMENTO]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_BANCO]  DEFAULT ('000') FOR [BANCO]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_AGENCIA]  DEFAULT ('000000000') FOR [AGENCIA]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_CONTA]  DEFAULT ('000000000000000') FOR [CONTA]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_DV_CONTA]  DEFAULT ('0') FOR [DV_CONTA]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_CARGA_HORARIA]  DEFAULT ('220') FOR [CARGA_HORARIA]
GO
ALTER TABLE [dbo].[MATRICULAS] ADD  CONSTRAINT [DF_MATRICULAS_SALARIO_NOMINAL]  DEFAULT ('0.01') FOR [SALARIO_NOMINAL]
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] ADD  CONSTRAINT [DF_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO] ADD  CONSTRAINT [DF_MATRICULAS_ESPELHOS_PONTO_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[PESSOAS] ADD  CONSTRAINT [DF_PESSOAS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[PESSOAS_FISICAS] ADD  CONSTRAINT [DF_PESSOAS_FISICAS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[PESSOAS_JURIDICAS] ADD  CONSTRAINT [DF_PESSOAS_JURIDICAS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[TOTALIZADORES] ADD  CONSTRAINT [DF_TOTALIZADORES_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_DATA_INCLUSAO]  DEFAULT (getutcdate()) FOR [DATA_INCLUSAO]
GO
ALTER TABLE [dbo].[MATRICULAS]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_PESSOAS_FISICAS] FOREIGN KEY([GUIDCOLABORADOR])
REFERENCES [dbo].[PESSOAS_FISICAS] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS] CHECK CONSTRAINT [FK_MATRICULAS_PESSOAS_FISICAS]
GO
ALTER TABLE [dbo].[MATRICULAS]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_PESSOAS_JURIDICAS] FOREIGN KEY([GUIDEMPREGADOR])
REFERENCES [dbo].[PESSOAS_JURIDICAS] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS] CHECK CONSTRAINT [FK_MATRICULAS_PESSOAS_JURIDICAS]
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_MATRICULAS] FOREIGN KEY([GUIDMATRICULA])
REFERENCES [dbo].[MATRICULAS] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] CHECK CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_MATRICULAS]
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS_EVENTOS] FOREIGN KEY([IDEVENTO])
REFERENCES [dbo].[EVENTOS] ([ID])
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS] CHECK CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS_EVENTOS]
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] FOREIGN KEY([GUIDMATRICULA_DEMONSTRATIVO_PAGAMENTO])
REFERENCES [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS] CHECK CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO]
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] FOREIGN KEY([GUIDMATRICULA_DEMONSTRATIVO_PAGAMENTO])
REFERENCES [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES] CHECK CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO]
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES_TOTALIZADORES] FOREIGN KEY([IDTOTALIZADOR])
REFERENCES [dbo].[TOTALIZADORES] ([ID])
GO
ALTER TABLE [dbo].[MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES] CHECK CONSTRAINT [FK_MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES_TOTALIZADORES]
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_MATRICULAS] FOREIGN KEY([GUIDMATRICULA])
REFERENCES [dbo].[MATRICULAS] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO] CHECK CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_MATRICULAS]
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_CALCULOS]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_CALCULOS_CALCULOS] FOREIGN KEY([IDCALCULO])
REFERENCES [dbo].[CALCULOS] ([ID])
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_CALCULOS] CHECK CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_CALCULOS_CALCULOS]
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_CALCULOS]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_CALCULOS_MATRICULAS_ESPELHOS_PONTO] FOREIGN KEY([GUIDMATRICULA_ESPELHO_PONTO])
REFERENCES [dbo].[MATRICULAS_ESPELHOS_PONTO] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_CALCULOS] CHECK CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_CALCULOS_MATRICULAS_ESPELHOS_PONTO]
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_MARCACOES]  WITH CHECK ADD  CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_MARCACOES_MATRICULAS_ESPELHOS_PONTO] FOREIGN KEY([GUIDMATRICULA_ESPELHO_PONTO])
REFERENCES [dbo].[MATRICULAS_ESPELHOS_PONTO] ([GUID])
GO
ALTER TABLE [dbo].[MATRICULAS_ESPELHOS_PONTO_MARCACOES] CHECK CONSTRAINT [FK_MATRICULAS_ESPELHOS_PONTO_MARCACOES_MATRICULAS_ESPELHOS_PONTO]
GO
ALTER TABLE [dbo].[PESSOAS_FISICAS]  WITH CHECK ADD  CONSTRAINT [FK_PESSOAS_FISICAS_PESSOAS] FOREIGN KEY([GUIDPESSOA])
REFERENCES [dbo].[PESSOAS] ([GUID])
GO
ALTER TABLE [dbo].[PESSOAS_FISICAS] CHECK CONSTRAINT [FK_PESSOAS_FISICAS_PESSOAS]
GO
ALTER TABLE [dbo].[PESSOAS_JURIDICAS]  WITH CHECK ADD  CONSTRAINT [FK_PESSOAS_JURIDICAS_PESSOAS] FOREIGN KEY([GUIDPESSOA])
REFERENCES [dbo].[PESSOAS] ([GUID])
GO
ALTER TABLE [dbo].[PESSOAS_JURIDICAS] CHECK CONSTRAINT [FK_PESSOAS_JURIDICAS_PESSOAS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PESSOAS_FISICAS] FOREIGN KEY([GUIDCOLABORADOR])
REFERENCES [dbo].[PESSOAS_FISICAS] ([GUID])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PESSOAS_FISICAS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(I)nformativo; (D)esconto; (V)encimento.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVENTOS', @level2type=N'COLUMN',@level2name=N'TIPO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(R)elação Bancária; (O)utros.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MATRICULAS', @level2type=N'COLUMN',@level2name=N'FORMA_PAGAMENTO'
GO
