 DELETE FROM USUARIOS
 --DELETE FROM PERFIS_USUARIOS

 DELETE FROM MATRICULAS_ESPELHOS_PONTO_MARCACOES
 DELETE FROM MATRICULAS_ESPELHOS_PONTO_CALCULOS
 DELETE FROM MATRICULAS_ESPELHOS_PONTO

 DELETE FROM MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES
 DELETE FROM MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_NOTIFICACOES
 DELETE FROM MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_MENSAGENS
 DELETE FROM MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS
 DELETE FROM MATRICULAS_DEMONSTRATIVOS_PAGAMENTO

 DELETE FROM MATRICULAS

 DELETE FROM PESSOAS_FISICAS

 --DELETE FROM PESSOAS_JURIDICAS

 --DELETE FROM PESSOAS

 select * from usuarios

 select * from PESSOAS_FISICAS