USE [Destin]
GO
ALTER TABLE [dbo].[ConcursoDezena] DROP CONSTRAINT [FK_ConcursoDezena_Concurso]
GO
ALTER TABLE [dbo].[Concurso] DROP CONSTRAINT [FK_Concurso_Modalidade]
GO
/****** Object:  Index [IXConcursoDezena01]    Script Date: 21/08/2026 21:18:19 ******/
DROP INDEX [IXConcursoDezena01] ON [dbo].[ConcursoDezena]
GO
/****** Object:  Index [IXConcurso01]    Script Date: 21/08/2026 21:18:19 ******/
DROP INDEX [IXConcurso01] ON [dbo].[Concurso]
GO
/****** Object:  Table [dbo].[Modalidade]    Script Date: 21/08/2026 21:18:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modalidade]') AND type in (N'U'))
DROP TABLE [dbo].[Modalidade]
GO
/****** Object:  Table [dbo].[ConcursoDezena]    Script Date: 21/08/2026 21:18:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConcursoDezena]') AND type in (N'U'))
DROP TABLE [dbo].[ConcursoDezena]
GO
/****** Object:  Table [dbo].[Concurso]    Script Date: 21/08/2026 21:18:19 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Concurso]') AND type in (N'U'))
DROP TABLE [dbo].[Concurso]
GO
/****** Object:  Table [dbo].[Concurso]    Script Date: 21/08/2026 21:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concurso](
	[Id] [uniqueidentifier] NOT NULL,
	[IdModalidade] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[DataApuracao] [date] NOT NULL,
	[DataHoraInclusao] [datetimeoffset](7) NOT NULL,
	[DataHoraUltimaAlteracao] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Concurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConcursoDezena]    Script Date: 21/08/2026 21:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConcursoDezena](
	[Id] [uniqueidentifier] NOT NULL,
	[IdConcurso] [uniqueidentifier] NOT NULL,
	[Dezena] [tinyint] NOT NULL,
 CONSTRAINT [PK_ConcursoDezena] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidade]    Script Date: 21/08/2026 21:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidade](
	[Id] [int] NOT NULL,
	[Descricao] [varchar](75) NOT NULL,
	[UltimoConcursoApurado] [int] NULL,
 CONSTRAINT [PK_Modalidade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IXConcurso01]    Script Date: 21/08/2026 21:18:19 ******/
CREATE NONCLUSTERED INDEX [IXConcurso01] ON [dbo].[Concurso]
(
	[IdModalidade] ASC,
	[Numero] ASC,
	[DataApuracao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXConcursoDezena01]    Script Date: 21/08/2026 21:18:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXConcursoDezena01] ON [dbo].[ConcursoDezena]
(
	[IdConcurso] ASC,
	[Dezena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Concurso]  WITH CHECK ADD  CONSTRAINT [FK_Concurso_Modalidade] FOREIGN KEY([IdModalidade])
REFERENCES [dbo].[Modalidade] ([Id])
GO
ALTER TABLE [dbo].[Concurso] CHECK CONSTRAINT [FK_Concurso_Modalidade]
GO
ALTER TABLE [dbo].[ConcursoDezena]  WITH CHECK ADD  CONSTRAINT [FK_ConcursoDezena_Concurso] FOREIGN KEY([IdConcurso])
REFERENCES [dbo].[Concurso] ([Id])
GO
ALTER TABLE [dbo].[ConcursoDezena] CHECK CONSTRAINT [FK_ConcursoDezena_Concurso]
GO
