 UPDATE MATRICULAS
    SET SALARIO_NOMINAL=0.01

UPDATE MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_EVENTOS
   SET VALOR=0.01

UPDATE MATRICULAS_DEMONSTRATIVOS_PAGAMENTO_TOTALIZADORES
   SET VALOR=0.01